body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container-about{
    padding: 12rem 70px;
    background: linear-gradient(transparent, blue), url(web-Images/Team-Image.jpeg);
}
.custom-shape-divider-top-1743967945 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  height: 219px;
}

.custom-shape-divider-top-1743967945 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.8px);
  height: 217px;
  transform: rotate(180deg);
  fill: blue;
}



.custom-shape-divider-top-1743967945 .shape-fill {
  fill: white;
}
.about-text span{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 767px) {

  .about-text>span{
    color: rgb(255, 255, 255);
    font-size: 10px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

}


@media screen and (max-width: 767px) {
  .custom-shape-divider-top-1743967945 {
    position: absolute;
    top: 34%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: 219px;
  }


    }

   /* WHAT WE HAVE DONE START!! --> */
   .widget-container{
    padding: 0px 0px;
    background-color: #000000;
    font-size: 20px;
    color: white;
  }

  .icon-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 767px) and (max-width: 1024px) {

  .icon-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  }


  @media screen and (max-width: 767px) {

    .icon-wrapper{
      display: grid;
      grid-template-columns: repeat(1, 1fr);

    }


    }

  .icon-content:nth-child(1){
    background-color: rgb(122, 3, 3);
  }

  .icon-content:nth-child(2){
    background-color: #ffffff;
  }

  .icon-content:nth-child(3){
    background-color: #131d3b;
  }


.icon-content:nth-child(4){
    background-color: rgb(122, 3, 3);
  }

  .icon-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   transition: .3s ease-out;
  }

  .icon-content h3>span{
    color: white;
    font-size: 1.8rem;
  }
  .icon-content>p{
    font-weight: 100;
    font-family: sans-serif;
  }

  .icon-content:hover{
    transform: translateY(-12px);
  }
  #emoji{
    font-size: 3.5rem;
    cursor: pointer;
  }


  #emoji:first-child{
    background-color: #500707;
    border-radius: 50px;
    padding: 10px;
  }

  #emoji:hover{
    background-color: #6666669d;
    border-radius: 50px;
    padding: 10px;
    /* WHAT WE HAVE DONE END!! --> */
  }


  .icon-content{
    height: 250px;
}



/* SERVICES SECTION START!! */

.service-container {
    padding: 4em 40px;

   }

   .service-item {
     flex: 1 1 calc(25% - 20px); /* 4 items per row with a 20px gap on each side */
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     transition: transform 0.3s;
     gap: 38px;
     /* text-align: center; */
   }


   .container-man{
     transition: all .3s ease-in-out;
   }

   .container-man img{
     width: 100%;
   }

   .container-man:hover{
     transform: translateY(-12px);
   }


@media screen and (max-width: 767px) {
    .service-item{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 25px;
    }

    .icon-content{
        height: 200px;
    }

  .service-container {
    padding: 20px 0px;
    /* background-color: #6666661d; */
   }

   .container-text p{
    margin-top: 3rem;
   }


   #champ-service{
    text-align: center;
   }
  }


  @media screen and (min-width: 767px) and (max-width: 1024px) {

    .service-container {
      padding: 10px 0px;
      /* background-color: #6666661d; */
     }

     .container-man img{
      width: 100%;
      border-radius: 8px;
     }

     #champ-service{
      text-align: left;
     }
  }

  #champ-service{
    font-size: 1.4rem;
    color: var(--text-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    line-height: 3;
    word-wrap: break-word;
    /* text-align: center; */
  }

  .container-text h1{
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 1;
    padding-bottom: 11px;
  }

  .container-text h3>span{
    font-size: 15px;
    color: white;
  }

  #btn-service{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    max-width: 50%;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(122, 3, 3);
    transition: background-color, .3s ease;
  }

  #btn-service:hover{
    max-width: 100%;
    background-color: white;
    border: 1px solid rgb(122, 3, 3);
  }

  .service-wrapper{
    padding: 6em 70px;
    background-color: hsla(0, 0%, 0%, 0.71);
    color: white;
  }

  .wrapper-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  .wrapper-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }


  .wrapper-content img{
    width: 100%;
    box-shadow: 0 0 2px var(--text-color);
  }


  .wrapper-content h5{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    color: rgb(238, 186, 0);
    text-transform: uppercase;
  }


#wrapper-text, #wrapperST{
    padding-top: 3rem;
    color: var(--text-color);
    font-size: 2rem;
    padding-bottom: 10px;
    /* background-color:; */
    }

    .wrapper-header h2{
      font-size: 42px;
      text-align: center;
      margin: 0;
      font-family: 'Rubik' sans-serif;
      font-weight: 700;
      line-height: 1.3;
      box-sizing: border-box;
      padding-bottom: 1.3rem;
    }


  @media screen and (min-width: 767px) and (max-width: 1024px) {
    .wrapper-container{
      /* 4 items per row with a 20px gap on each side */
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
       align-items: center;
     }
     .wrapper-content img{
      width: 100%;
      border-radius: 5px;
    }

    .service-wrapper{
      padding: 4em 28px;
    }



  #wrapper-text, #wrapperST{
    padding-top: 5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    padding-bottom: 10px;
    /* background-color:; */
    }

    .wrapper-header h2{
      font-size: 32px;
      text-align: center;
      margin: 0;
      font-family: 'Rubik' sans-serif;
      font-weight: 700;
      line-height: 1.3;
      box-sizing: border-box;
    }

  }




  #wrapper-text, #wrapperST{
    padding-top: 3rem;
    color: rgb(122, 3, 3);
    font-size: 2rem;
    padding-bottom: 10px;
    /* background-color:; */
    }

    .wrapper-header h2{
      font-size: 42px;
      text-align: center;
      margin: 0;
      font-family: 'Rubik' sans-serif;
      font-weight: 700;
      line-height: 1.3;
      box-sizing: border-box;
      padding-bottom: 1.3rem;
    }


  @media screen and (min-width: 767px) and (max-width: 1024px) {
    .wrapper-container{
      /* 4 items per row with a 20px gap on each side */
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
       align-items: center;
     }
     .wrapper-content img{
      width: 100%;
      border-radius: 5px;
    }

    .service-wrapper{
      padding: 0 28px;
    }

  #wrapper-text, #wrapperST{
    padding-top: 5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    padding-bottom: 10px;
    /* background-color:; */
    }

    .wrapper-header h2{
      font-size: 32px;
      text-align: center;
      margin: 0;
      font-family: 'Rubik' sans-serif;
      font-weight: 700;
      line-height: 1.3;
      box-sizing: border-box;
    }

  }


  @media screen and (max-width: 767px) {
    .wrapper-container{
      /* 4 items per row with a 20px gap on each side */
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       gap: 20px;
     }
  .wrapper-content img{
    width: 100%;
  }
     .service-wrapper {
      padding: 20px ;
     }



  #wrapper-text, #wrapperST{
    padding-top: 4rem;
    color: var(--text-color);
    font-size: 1.23529rem;
    padding-bottom: 10px;
    /* background-color:; */
    }

    .wrapper-header h2{
      font-size: 28px;
      text-align: center;
      margin: 0;
      font-family: 'Rubik' sans-serif;
      font-weight: 700;
      line-height: 1.3;
      box-sizing: border-box;
    }

  }


  /* COntact sections */


  .contact-container1{
    background: linear-gradient(to right bottom, rgba(15, 1, 1, 0.45), rgba(68, 137, 205, 0.328)), url(web-Images/shape-3.png);
    padding: 5em 70px;
}

@media screen and (max-width: 768px) {
.contact-container1{
    background-color: white;
    padding: 5em 15px;
}

.about-content{
    display: flex;
    flex-direction: column;
}


.container-about{
    padding: 12rem 15px;
}

.footer2{
  padding: 4em 1px;
}


}

.footer2{
  padding: 5em 20px;
}

